*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 80%;
    margin: 0 auto;
    height: 100vh;
}
.video{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.video1{
    padding-bottom: 2px;
}
img{
    width: 200px;
    height: 100px;
}